@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

@import "grid";
@import "colors";
@import "flexbox";


a {
  text-decoration: none;
  color: #fff;
}
.white-text {
  color: #fff;
}

  hr {
      border: none;
      border-bottom: 3px solid $color-laboratoria;
      margin-bottom: 21px;
      width: 35px;
  }
  @media (min-width: 992px) {
    #main h1, #main > hr {
    display: none;
  }

}
/*
 hidden and show
*/
$breakpoints : (xs : 0, sm : 768px, md : 992px, lg : 1200px );

@mixin column($media, $min-width){
  @media (max-width:$min-width){
      .hidden-#{$media}{
        display: none;
      }
      .show-#{$media} {
        display: block!important;
      }
  }
}
@each $name, $width in $breakpoints {
  @include column($name, $width);
}


/*
noticia principal
*/
#main {
  .box-main {
    position: relative;
    .info {
      position: absolute;
      bottom: 0;
      color: #fff;
      padding: 28px 49px;
      @media (max-width: 760px) {
        padding-right: 21px;
        padding-left: 21px;
      }
    }
    img {
      min-width: 100%;
    }
    h3 {
      font-size: 2.3em;
      @media (max-width: 760px) {
        font-size: 1.3em;
      }
    }
    h4 {
      font-size: 1.4em;
    }
    p {
      font-size: 1.25em;
    }
  }
}


footer {
  background: $color-laboratoria  ;
  padding: 35px 42px;
  img {
    width: 80%;
    margin-bottom: 21px;
  }
  li {
    list-style-type: none;
  }
  [class*="md-3"] {
    margin-right: 49px;
    margin-left: 21px;
    border-right: 2px solid #fff;
  }
  & * {
    color: #fff;
  }
}
